/* !important is overriding the error styling from react-textarea-counter package */
textarea + div {
  color: aliceblue !important;
}

.match {
  color: red !important;
  background-color: yellow;
}

.container {
  text-align: center;
}

.green-bg {
  background-color: lightgreen;
}

.spinners {
  justify-content: center;
}
.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}
/* #dropdown-item-button {
  padding-left: 4rems !important;
  padding-right: 4rems !important;
} */
