.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  min-height: 350px;
  background-color: #fff;
}

.testimonials {
  position: relative;
  max-width: 100%;
}

/* .swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    rgb(0, 0, 0, 0)
  );
} */

div.content {
  margin: 0px;
  padding: 0px;
}
