/* ADDS ANIMATION TO THE BOTTOM OF THE CARDS
   A REFLECTION OF IT */
.cardPicsLayout {
  -webkit-box-reflect: below 1px linear-gradient(transparent 70%, #0009);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  min-height: 350px;
  background-color: #ffffff;
  margin: 0px 20px;
}

.cardPicsLayout .page {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  background: #262f33;
  /* background: rgb(252, 193, 7); */
  padding: 60px 40px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.cardPicsLayout .page .mainContent p {
  transition: 0.5s;
}

/* BOTTOM CALC SPECIFIES HOW MUCH THE 
   LAYER SHOWS AT THE TOP FROM 
   AN ABSOLUTE POSITION */
.cardPicsLayout .page .overlay {
  position: absolute;
  bottom: calc(100% - 1%);
  right: 0px;
  width: 100%;
  height: 100%;
  /* EITHER  */
  /* background: linear-gradient(#00a676 0%, #fcc107 45%, 92%, #00a676); */
  background: #fcc107;
  transition: 0.5s;
  z-index: 101;
}

.cardPicsLayout .page:hover .overlay {
  bottom: 0px;
  transition: 0.5s;
}

.cardPicsLayout .page .mainContent {
  position: relative;
  z-index: 102;
  transition: 0.5s;
}

.cardPicsLayout .page .mainContent .img-Bx {
  width: 100px;
  height: 100px;
  margin: 0px auto 10px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fcc107;
  box-shadow: 0 10px 20px rgba(250, 250, 250, 0.2);
  color: #ebebeb;
  transition: 0.5s;
}

.cardPicsLayout .page:hover .mainContent .img-Bx {
  border: 4px solid white;
  transition: 0.5s;
}

.cardPicsLayout .page .mainContent h2 {
  font-size: 18px;
  color: #ebebeb;
  transition: 0.5s;
}

.cardPicsLayout .page .mainContent h2 span {
  color: #03a9f4;
  font-size: 14px;
  transition: 0.5s;
}

/* LOREM SHIT mainContent P */
.cardPicsLayout .page:hover .mainContent p {
  color: black !important;
  transition: 0.25s;
}

/* SOMEONE FAMOUS stats H2 */
.cardPicsLayout .page:hover .mainContent .stats h2 {
  color: black !important;
  transition: 0.25s;
}

.cardPicsLayout .page:hover .stats span {
  color: #121212;
  transition: 0.25;
  font-weight: 900;
  cursor: pointer;
}

.cardPicsLayout .page .stats span:hover {
  text-decoration: underline;
  transition: 0.25s;
}

div.mainContent {
  margin: 0px;
  padding: 0px;
}

#Jesse {
  margin-left: -7px;
  margin-top: -7px;
}

#Michael {
  margin-right: -16px;
  margin-top: -12px;
}

.quoteStyle {
  color: #ebebeb;
  font-size: 24px;
}
