.ohOne {
  margin-top: -2%;
}

.divider {
  transform: rotate(90deg);
  margin-top: 28%;
  margin-left: -4px;
  margin-bottom: 30%;
}

.divider2 {
  margin-top: 30%;
}

.step3Col {
  margin-top: -3%;
}

#jumboTronAbout {
  margin-top: 0px !important;
  border-radius: 0px !important;
  background-image: url("../Images/Vibee_F.png");
  background-color: #fcc107 !important;
  height: 200px;
  width: auto;
  margin-bottom: 0px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.fontTitle {
  color: black;
  font-size: 50px;
  padding: 20px;
}

.fontBody {
  color: black;
  font-size: 35px;
}
/* 
#imageCentered {
  width: 100%;
  max-width: 500px;
  height: auto;
  align-self: center;
} */
