.ohOne {
  margin-top: -2%;
}

.divider {
  transform: rotate(90deg);
  margin-top: 28%;
  margin-left: -4px;
  margin-bottom: 30%;
}

.divider2 {
  margin-top: 30%;
}

.step3Col {
  margin-top: -3%;
}
