.songCardCol {
  color: rgb(10, 14, 41);
  text-align: center;
  background-color: #fcb804;
  padding: 10px;
  border-top: 1px solid #fcb804;
}

.songLyrics {
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
}

.cardBorder {
  border: 1px solid #8693ab;
}

.card {
  background-color: white;
  transition: all 0.5s ease;
}
.card:hover {
  transform: scaleX(1.025) scaleY(1.025);
  border: 1px solid #8693ab;
}
