.songCardCol {
  color: rgb(10, 14, 41);
  /* text-align: center; */
  background-color: #ffc107;
  padding: 10px;
  border-top: 1px solid #ffc107;
}

.songLyrics {
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
  font-size: 16px;
  background-color: #00a676;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc107;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.album-thumbnail {
  float: left;
}

.songTitle {
  margin-top: 1.4rem;
  font-size: 20px;
}

.cardBorder {
  border: 1px solid #8693ab;
  cursor: pointer;
  background-color: #ffc107 !important;
}

.cardBody {
  background-color: #262f33;
  color: #262f33;
}

.cardBody h4 {
  color: aliceblue;
}

.card {
  background-color: white;
  transition: all 0.5s ease;
}
.card:hover {
  transform: scaleX(1.025) scaleY(1.025);
  border: 1px solid #8693ab;
}

.songTitle {
  cursor: pointer;
}

.cardBorder {
  margin: 7%;
}

#collectionsJumbotron {
  background-color: #262f33 !important;
}
