* {
  box-sizing: border-box;
  margin: 0;
  padding: none;
}

/* OVERRIDE AUTOMATIC STYLING FROM BOOTSTRAP */
/* div.w-100 {
  max-width: none !important;
  width: none !important;
  padding-right: none !important;
  padding-left: none !important;
  margin-left: none !important;
  margin-right: none !important;
  justify-content: none !important;
} */

/* OVERRIDE AUTOMATIC STYLING FROM BOOTSTRAP */
/* div.d-flex {
  max-width: none !important;
  width: none !important;
  padding-right: none !important;
  padding-left: none !important;
  margin-left: none !important;
  margin-right: none !important;
  justify-content: none !important;
} */
/* OVERRIDE AUTOMATIC STYLING FROM BOOTSTRAP */
/* div.align-items-center {
  max-width: none !important;
  width: none !important;
  padding-right: none !important;
  padding-left: none !important;
  margin-left: none !important;
  margin-right: none !important;
  justify-content: none !important;
} */

/* OVERRIDE AUTOMATIC STYLING FROM BOOTSTRAP */
/* div.justify-content-center {
  max-width: none !important;
  width: none !important;
  padding-right: none !important;
  padding-left: none !important;
  margin-left: none !important;
  margin-right: none !important;
  justify-content: none !important;
} */

/* OVERRIDE AUTOMATIC STYLING FROM BOOTSTRAP */
/* .container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xs {
  max-width: none !important;
  width: none !important;
  padding-right: none !important;
  padding-left: none !important;
  margin-left: none !important;
  margin-right: none !important;
  justify-content: none !important;
} */

/* OVERRIDE AUTOMATIC STYLING FROM BOOTSTRAP */
/* .d-flex.align-items-center.justify-content-center.container {
  max-width: none !important;
  width: none !important;
  padding-right: none !important;
  padding-left: none !important;
  margin-left: none !important;
  margin-right: none !important;
  justify-content: none !important;
  padding: none;
} */

/* OVERRIDE AUTOMATIC STYLING FROM BOOTSTRAP */
/* .d-flex.align-items-center.justify-content-center.container::after {
  max-width: none !important;
  width: none !important;
  padding-right: none !important;
  padding-left: none !important;
  margin-left: none !important;
  margin-right: none !important;
  justify-content: none !important;
  padding: none !important;
} */

/* OVERRIDE AUTOMATIC STYLING FROM BOOTSTRAP */
/* .d-flex.align-items-center.justify-content-center.container::before {
  max-width: none !important;
  width: none !important;
  padding-right: none !important;
  padding-left: none !important;
  margin-left: none !important;
  margin-right: none !important;
  justify-content: none !important;
  padding: none !important;
} */

/* OVERRIDE AUTOMATIC STYLING FROM BOOTSTRAP */
/* .container {
  line-height: 1.6;
  color: black;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
} */

/* #prev,
#next {
  width: 100px;
  height: 100px;
  transition: 0.5s;
  float: left;
  box-shadow: -2px 2px 0 white;
} */

.imgCarousel {
  position: relative;
  overflow: hidden;
  height: 70vh;
  width: 100vw;
  max-width: 100%;
}

.steps {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: url("http://cdn30.us1.fansshare.com/image/wallpapers1920x1080/placeholder-wallpapers-hd-376085062.jpg")
    no-repeat center top/cover;
}

.steps.step1 {
  opacity: 1;
}

.steps1 {
  background: url("http://cdn30.us1.fansshare.com/image/wallpapers1920x1080/placeholder-wallpapers-hd-376085062.jpg")
    no-repeat center center/cover;
}

.steps .textContent {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
}

.steps .textContent h1 {
  margin-bottom: 10px;
}

.steps.step1 .textContent {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons {
  position: relative;
}

div#next {
  position: absolute;
<<<<<<< HEAD
  bottom: 300px;
=======
  top: -500px;
>>>>>>> 251e9e121a715d495e1db395cce13de1ad37c820
  right: 15px;
  color: rgb(255, 255, 255, 0.75);
  border-radius: 50%;
  padding: 5px;
}

/* position: absolute;
right: 15px;
top: 460px;
color: rgb(255, 255, 255, 0.75);
border-radius: 50%;
padding: 3px; */

div#prev {
  position: absolute;
<<<<<<< HEAD
  bottom: 300px;
=======
  top: -500px;
>>>>>>> 251e9e121a715d495e1db395cce13de1ad37c820
  left: 15px;
  color: rgb(255, 255, 255, 0.75);
  border-radius: 50%;
  padding: 5px;
}

.buttons div:hover {
  background-color: black;
}
