.postHeader {
  /* background-color: cyan;
  color: brown; */
  text-align: center;
}

.postBody {
  background-color: white;
}

.postFooter {
  /* background-color: white; */
  font-size: 14px;
  text-align: right;
  border-bottom: 4px solid rgba(0, 0, 0);
}

.postDate {
  text-align: left;
  color: gray;
  font-size: 12px;
}

.postBlurb {
  text-align: center;
}

.postSongImage {
  background-color: white;
}

.postSongTitle {
  background-color: white;
  text-align: center;
}

.postColColor {
  background-color: white;
}

.postDivContainerBackground {
  background-color: white;
}
