.postHeader {
  /* background-color: cyan;
  color: brown; */
  text-align: center;
  color: antiquewhite;
}

.postFooter {
  /* background-color: white; */
  font-size: 14px;
  text-align: right;
  color: antiquewhite;
}

.postDate {
  text-align: left;
  color: gray;
  font-size: 12px;
}

.user-name {
  color: gray;
  font-style: italic;
  margin-bottom: 3px !important;
}

.postBlurb {
  text-align: left;
  color: antiquewhite;
}

.postSongTitle {
  text-align: center;
  font-style: oblique;
  color: antiquewhite;
  margin-left: 5px !important;
}

.postDivContainerBackground {
  background-color: rgb(38, 47, 51);
}
